.NO1 {
    height: 30px;
    width: 150px;
    text-align: left;
}

.NO2 {
    height: 30px;
    width: 150px;
    text-align: left;
}

.NO3 {
    height: 30px;
    width: 150px;
    text-align: left;
}

.NO4 {
    height: 200px;
    width: 400px;
    text-align: left;
}

.NO5 {
    
} 